# Xcode
## User settings
xcuserdata/
*.xcuserstate
project.xcworkspace/xcuserdata/

## Build generated
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
*.profraw

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Temporary files
*.swp
*~
*.bak
